.App {
  text-align: center;
  background-color: #282c34;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  text-align: center;
}
.Wheel{
  position: relative;
  top: 30%; 
  left: 11%;
  right: 11%;   
  margin-left: auto; 
  margin-right: auto;
  
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
  animation: fadeIn 1s;
  
}
h2 {animation: fadeIn 500ms;}
.text{
  width: 100%;
  font-size: calc(20px + 2vmin);
  color: white;
  border: solid white 1px;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
